[submodule "snokai-iterm2"]
	path = snokai-iterm2
	url = https://github.com/jose-elias-alvarez/sonokai-iterm2.git
[submodule "sonokai-vim"]
	path = sonokai-vim
	url = https://github.com/sainnhe/sonokai.git
